# SDCC stuff
*.lnk
*.lst
*.map
*.mem
*.rel
*.rst
*.sym
*.asm
fuzix.bin
fuzix.com
Applications/levee/levee.lk
Applications/levee/levee.noi
Applications/util/*.bin
Applications/util/*.lk
Applications/util/*.noi
Applications/util/banner
Applications/util/basename
Applications/util/bd
Applications/util/cal
Applications/util/cat
Applications/util/chgrp
Applications/util/chmod
Applications/util/chown
Applications/util/cksum
Applications/util/cmp
Applications/util/cp
Applications/util/cut
Applications/util/date
Applications/util/dd
Applications/util/decomp16
Applications/util/df
Applications/util/dirname
Applications/util/dosread
Applications/util/du
Applications/util/echo
Applications/util/ed
Applications/util/false
Applications/util/fdisk
Applications/util/fgrep
Applications/util/fsck
Applications/util/grep
Applications/util/head
Applications/util/id
Applications/util/init
Applications/util/kill
Applications/util/ll
Applications/util/ln
Applications/util/logname
Applications/util/ls
Applications/util/man
Applications/util/mandel
Applications/util/mkdir
Applications/util/mkfifo
Applications/util/mkfs
Applications/util/mknod
Applications/util/more
Applications/util/motd
Applications/util/mount
Applications/util/mv
Applications/util/od
Applications/util/pagesize
Applications/util/passwd
Applications/util/patchcpm
Applications/util/printenv
Applications/util/prtroot
Applications/util/ps
Applications/util/pwd
Applications/util/rm
Applications/util/rmdir
Applications/util/sed
Applications/util/sh
Applications/util/sleep
Applications/util/sort
Applications/util/ssh
Applications/util/stty
Applications/util/su
Applications/util/sum
Applications/util/sync
Applications/util/tail
Applications/util/tee
Applications/util/test
Applications/util/test.c
Applications/util/test.x
Applications/util/touch
Applications/util/tr
Applications/util/true
Applications/util/umount
Applications/util/uniq
Applications/util/uud
Applications/util/uue
Applications/util/wc
Applications/util/which
Applications/util/who
Applications/util/whoami
Applications/util/write
Applications/util/xargs
Applications/util/yes
Kernel/common.bin
Kernel/common.ihx
Kernel/cpm-loader/cpmload.bin
Kernel/cpm-loader/cpmload.ihx
Kernel/cpm-loader/makecpmloader
Kernel/fuzix.cdb
Kernel/fuzix.ihx
Kernel/fuzix.tmp
Kernel/hogs.txt
Kernel/hogs.txt.old
Kernel/platform
Kernel/relocs.dat
Kernel/tools/analysemap
Kernel/tools/bankld/sdldz80
Kernel/tools/bihx
Kernel/tools/binman
Kernel/tools/bintomdv
Kernel/tools/make4x6
Kernel/tools/memhogs
Kernel/uzi.cdb
Kernel/uzi.ihx
Kernel/uzi.tmp
Kernel/version.c
Library/libs/*.l
Library/libs/*.lib
Library/libs/fuzix/*.l
Library/libs/fuzix/*.lib
Library/libs/fuzix/syscall_*.s
Library/tools/binman
Library/tools/fcc
Library/tools/syscall
Standalone/chmem
Standalone/fsck
Standalone/mkfs
Standalone/size
Standalone/ucp
