# SDCC stuff
*.lnk
*.lst
*.map
*.mem
*.rel
*.rst
*.sym
*.asm
fuzix.bin
fuzix.com
Applications/util/*.bin
Applications/util/*.lk
Applications/util/*.noi
Applications/util/cat
Applications/util/chgrp
Applications/util/chmod
Applications/util/chown
Applications/util/echo
Applications/util/false
Applications/util/grep
Applications/util/id
Applications/util/init
Applications/util/ls
Applications/util/mandel
Applications/util/mkdir
Applications/util/mknod
Applications/util/motd
Applications/util/passwd
Applications/util/sh
Applications/util/ssh
Applications/util/touch
Applications/util/true
Applications/util/whoami
Kernel/cpm-loader/cpmload.bin
Kernel/cpm-loader/cpmload.ihx
Kernel/cpm-loader/makecpmloader
Kernel/hogs.txt
Kernel/hogs.txt.old
Kernel/tools/analysemap
Kernel/tools/binman
Kernel/tools/bintomdv
Kernel/tools/make4x6
Kernel/tools/memhogs
Kernel/uzi.cdb
Kernel/uzi.ihx
Kernel/uzi.tmp
Kernel/version.c
Library/libs/*.l
Library/libs/*.lib
Library/libs/fuzix/*.l
Library/libs/fuzix/*.lib
Library/libs/fuzix/syscall_*.s
Library/tools/binman
Library/tools/fcc
Library/tools/syscall
Standalone/chmem
Standalone/fsck
Standalone/mkfs
Standalone/size
Standalone/ucp
